{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Page{% endblock title %}



{% block content %}
<div class="container">
<h1 class='title mt-4 text-center text-primary'>Add Posts</h1>
    <div class="row justify-content-center">
        <form action="" method='post' enctype="multipart/form-data">{% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button class="btn btn-primary" type='submit'>Add Post</button>
            <br><br>
        </form>
    </div>
</div>
{% endblock content %}